.navbar{
  background-color: hsl(222, 14%, 10%);
  width: 100%;
  position: relative;
  color:white;
  padding:15px;
  font-size:100px;
  height:60px;
}
.navbar_2{
  width: 100%;
  display: flex;
  height: 100%;
  background-color: #20232a;;
}
.react{
  margin-right: 10px;
  color: #61dafb;
  display: flex;
  padding-left:95px;
  font-size: 30px;
}
.React{
  padding-top: 20px;
  padding-right: 100px ;
}
.nav-elements{
  font-weight:200;
  padding:25px;
  display: flex;
  
}
.a_1{
  color:white;
  font-size:25px;
  text-decoration: none;
  padding-left: 25px;
    padding-right: 15px;
    font-weight: 300;
}